/* change the whole background and all the font */
body {
    background-color:rgb(0, 0, 0);
    font-family: Verdana;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* coloring the header and footer */
header, footer {
    padding: 10px;
    color: rgb(180, 190, 255);
}

nav {
    width: 10%;
    padding: 30px;
}

a {
    text-decoration: none
}

/* centering text headings */
h1, h2, h3, nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}

/* making h2 font smaller so it doesn't stand out too much */
h2 {
    font-size: 18px;
    color: rgb(105, 80, 255);
}

/* to emphasize sections */
h3 {
    background-color: skyblue;
    padding: 10px;
}

p {
    color: white;
}

li {
    color: white;
}

/* some styling of image so it doesn't looks so plain */
.profilepic {
    border-radius: 10px;
    display: block;
}

/* centering all content */
.centercontent {
    width: 700px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

/* more footer styling */
footer {
    padding: 10px;
    text-align: center;
}

input {
    margin-bottom: 20px;
}